.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 70px;
    font-weight: 600;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 419px;
    height: 280px;
    transition: 0.3s;
    cursor: pointer;
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 4px solid #ff00ff;
    border-radius: 10px;
    transition: 0.3s;
}

/* .mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 30px 60px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: 0.6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.6s;
} */

.mywork-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 3 / 2;
}
.mywork-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}   
.mywork-item:hover img {
    transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.2em;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.overlay p{
  position: inherit;
  top: 10px;
  left: 10px;
}

.mywork-item:hover .overlay {
  opacity: 1;
}

.corner-indicator {
    position: inherit;
    top: -99.5%;
    right: -90%;
}
.corner-indicator div {
    width: 1rem;
    height: 1rem;
    border-top: 2px solid rgba(255, 0, 0, 0.741);
    border-right: 2px solid #B415FF;
    opacity: 0.5;
}

.corner-indicator2 {
    position: inherit;
    top: -30%;
    right: -3%;
}
.corner-indicator2 div {
    width: 1rem;
    height: 1rem;
    border-bottom: 2px solid rgba(255, 0, 0, 0.741);
    border-left: 2px solid #B415FF;
    opacity: 0.5;
}

.mywork-item:hover .corner-indicator {
  opacity: 1;
}
.mywork-item:hover .corner-indicator2 {
    opacity: 1;
}

@media(max-width: 768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    /* .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    } */
    .mywork-item {
        font-size: 12px;
    }
    .corner-indicator {
        position: inherit;
        top: -99.5%;
        right: -90%;
    }
    .corner-indicator2 {
        position: inherit;
        top: -30%;
        right: -3%;
    }
}

@media(max-width: 376px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 30px;
        font-weight: 600;
    }
    .mywork-title img{
        transform: scale(0.7);
        top: 5px;
        left: 130px;
    }
    .mywork-container{
        grid-template-columns: 1fr;
        gap: 30px;
        padding-bottom: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    /* .mywork-showmore{
        padding: 10px 20px;
        font-size: 18px;
        margin: 35px auto;
        cursor: pointer;
    }
    .mywork-showmore img{
        transform: scale(0.7);
    } */
    .corner-indicator {
        position: inherit;
        top: -99.5%;
        right: -90%;
    }
    .corner-indicator2 {
        position: inherit;
        top: -30%;
        right: -3%;
    }
}